<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:pattern {"slug":"research-press/persons-list"} /-->
	<!-- wp:pattern {"slug":"research-press/organizations-list"} /-->
	<!-- wp:pattern {"slug":"research-press/locations-list"} /-->
	<!-- wp:pattern {"slug":"research-press/topics-list"} /-->
</main>
<!-- /wp:group -->
