<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
    <!-- wp:research-press/term-list {"taxonomy":"persons"} /-->
    <!-- wp:research-press/term-list {"taxonomy":"organizations"} /-->
    <!-- wp:research-press/term-list {"taxonomy":"locations"} /-->
    <!-- wp:research-press/term-list {"taxonomy":"topics"} /-->
</main>
<!-- /wp:group -->
